*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
BeefBall/BeefBall/bin/
BeefBall/bin/
BeefBall/BeefBall/obj/
BeefBall/obj/
BeefBall/Content/obj/
!BeefBall/x64
!BeefBall/x86
!BeefBall/Libraries
